/* Font poppins */
@font-face {
  font-family: "poppins";
  src: url("/assets/fonts/poppins/poppins-bold-webfont.woff") format("woff2"),
    url("/assets/fonts/poppins/poppins-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: url("/assets/fonts/poppins/poppins-bolditalic-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/poppins/poppins-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "poppins";
  src: url("/assets/fonts/poppins/poppins-extrabold-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/poppins/poppins-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: url("/assets/fonts/poppins/poppins-extrabolditalic-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/poppins/poppins-extrabolditalic-webfont.woff")
      format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "poppins";
  src: url("/assets/fonts/poppins/poppins-italic-webfont.woff2") format("woff2"),
    url("/assets/fonts/poppins/poppins-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "poppins";
  src: url("/assets/fonts/poppins/poppins-regular-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/poppins/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* .
.
.
.
.
.
.
. Custom properties & global selectors*/
:root {
  --color-background-01: #f0f0f0;
  --color-background-02: white;
  --color-primary: #151515;
  --color-primary-light: #716f6f;
  --color_primary-lighter: #dbdbdb;
  --color-secundary: #864cff;
  --color-warning: #ff5757;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* .
.
.
.
.
.
.
. HTML elements */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-01);
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;
}

/* Removes arrows in numeric inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Removes background color when interacting on mobile devices */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
/* .
.
.
.
.
.
.
. Age calculator body */
.age-calc {
  width: 300px;
  border-radius: 30px 30px 90px;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  background-color: var(--color-background-02);
}

@media only screen and (min-width: 1024px) {
  .age-calc {
    width: 600px;
    padding: 40px;
  }
}
/* .
.
.
.
.
.
.
. Age calculator inputs */
.age-calc__input-box {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}

.age-calc__input-section {
  width: calc(90% / 3);
}

.age-calc__h1 {
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 2px;
  color: var(--color-primary-light);
}
.age-calc__h1.warning {
  color: var(--color-warning);
}

.age-calc__input {
  width: 100%;
  border: 1px solid var(--color_primary-lighter);
  border-radius: 5px;
  outline: none;
  margin-top: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
.age-calc__input:focus {
  border-color: var(--color-secundary);
}
.age-calc__input.warning {
  border-color: var(--color-warning);
}

@media only screen and (min-width: 1024px) {
  .age-calc__input {
    font-size: 24px;
    transition: 0.2s;
  }

  .age-calc__h1 {
    font-size: 12px;
    font-weight: bold;
  }
}
/* .
.
.
.
.
.
.
. Age calculator button */
.age-calc__btn-box {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  background-image: linear-gradient(
    var(--color-background-02) 0%,
    var(--color-background-02) 49%,
    var(--color_primary-lighter) 49%,
    var(--color_primary-lighter) 51%,
    var(--color-background-02) 51%
  );
}

.age-calc__btn {
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  outline: none;
  padding: 15px;
  background-color: var(--color-secundary);
  cursor: pointer;
}
.age-calc__btn:active {
  background-color: var(--color-primary);
}
.age-calc__btn:focus-visible {
  background-color: var(--color-primary);
}

.age-calc__btn-svg {
  fill: none;
  stroke-width: 3;
  stroke: var(--color-background-02);
}

@media only screen and (min-width: 1024px) {
  .age-calc__btn-box {
    justify-content: end;
  }

  .age-calc__btn {
    width: 70px;
    height: 70px;
    padding: 20px;
    transition: 0.2s;
  }
  .age-calc__btn:hover {
    background-color: var(--color-primary);
  }
}
/* .
.
.
.
.
.
.
. Age calculator results */
.age-calc__result {
  margin: 0;
  font-size: 42px;
  font-style: italic;
  font-weight: 800;
}

.age-calc__number {
  color: var(--color-secundary);
}

@media only screen and (min-width: 1024px) {
  .age-calc__result {
    font-size: 64px;
  }
}
